<!-- <title>Artworks</title> -->
    
<% layout('./layouts/boilerplate') %>
    <!-- Header section -->
    <header>
        <h1>All Artworks</h1>
        <!-- Link to add a new artwork -->
        <a href="/artworks/new">Add New Artwork</a>
    </header>

    <!-- List of all artworks -->
    <ul>
        <% artwork.forEach(artwork=> { %>
            <li>
                <!-- Link to the specific artwork's detail page -->
                <a href="/artworks/<%= artwork._id %>">
                    <%= artwork.title %>
                </a>
            </li>
            <% }) %>
    </ul>